@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Jonota";
  src: url("../public/fonts/ShorifJonota.ttf");
}

@font-face {
  font-family: "Sandwip";
  src: url("../public/fonts/ShorifSandwip.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}